body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 30px;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
h2{
  color:#809A6F;
  text-transform: capitalize;
  font-size: 40px;
 font-weight: bolder;
 font-style: italic;
  padding: 20px;
  border-radius: 10px;
}
input{
  outline: none;
  caret-color: none;
}